[submodule "ReversiBackend"]
	path = ReversiBackend
	url = https://github.com/IlRomanenko/ReversiServer.git
	branch = master
[submodule "ReversiCppPackage"]
	path = ReversiCppPackage
	url = https://github.com/IlRomanenko/ReversiCpp.git
	branch = master
[submodule "ReversiFrontend"]
	path = ReversiFrontend
	url = https://github.com/IlRomanenko/ReversiWebServer.git
	branch = master
